---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';


// Brand Colors
// https://coolors.co/008dd5-db5461-373f51-071013-f7f7ff
$color1: #008DD5; // Rich Electric Blue
$color2: #DB5461; // Dark Terra Cotta
$color3: #373F51; // Charcoal
$color4: #071013; // Rich Black
$color5: #F7F7FF; // Ghost White

// Transitions
$ui-transition-speed: 0.25s;

// Fonts
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Work+Sans:300';

// Our variables

$heading-font-family: 'Work Sans', sans-serif;
$heading-font-weight: 300;


$base-font-family: 'Open Sans', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       $color5;

// Width of the content area
$content-width:   1200px;

$small:           320px;
$medium:          600px;
$large:           900px;
$wide:            1200px;

$footer-height: 50px;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  'base',
  'layout',
  'pages',
  'subscribe'
;
