<header class="site-header">
  <nav>
    <h1><a href="/" data-link="no-style">DropIn</a></h1>
      <div class="site-header--menu">
        <span class="menu--bar"></span>
        <span class="menu--bar"></span>
        <span class="menu--bar"></span>
        <span class="menu--bar"></span>
      </div>
      <ul class="site-header--links">
        <a href="/partners.html" data-link="no-style">
          <li>Partners</li>
        </a>
        <a href="/contact.html" data-link="no-style">
          <li>Contact</li>
        </a>
      </ul>
    </nav>
</header>
