@import 'resets';

/**
* Basic styling
*/
body {
  color: $text-color;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
}


figcaption {
  font-size: $small-font-size;
}


/**
* Typography
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

h1 {
  line-height: 48px;
  font-size: 30px;
}

h2 {
  line-height: 36px;
  font-size: 25px;
}

h3 {
  line-height: 24px;
  font-size: 21px;
}

h4 {
  line-height: 30px;
  font-size: 17px;
}


strong {
  line-height: 24px;
  font-size: 15px;
  font-weight: 700;
}

p {
  line-height: 24px;
  font-size: 15px;
}

label {
  line-height: 22px;
  font-size: 13px;
}

/**
* Links
*/
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}



/**
* Blockquotes
*/
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
* Clearfix
*/
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
