@import 'resets';

/**
* Basic styling
*/
body {
  color: $text-color;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
}


figcaption {
  font-size: $small-font-size;
}


/**
* Typography
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

h1 {
  line-height: 48px;
  font-size: 30px;
}

h2 {
  line-height: 36px;
  font-size: 25px;
}

h3 {
  line-height: 24px;
  font-size: 21px;
}

h4 {
  line-height: 30px;
  font-size: 17px;
}


strong {
  line-height: 24px;
  font-size: 15px;
  font-weight: 700;
}

p {
  line-height: 24px;
  font-size: 15px;
}

label,
button {
  line-height: 22px;
  font-size: 13px;
}



/**
* Buttons
*/
button {
  transition: box-shadow $ui-transition-speed ease-in-out;
  margin: 10px;
  border-color: transparent;
  box-shadow: $color4 0 0 0;
  background-color: $color2;
  padding: 5px 25px;
  overflow: visible;
  text-transform: uppercase;
  color: $color5;
  font-family: $base-font-family;

  &:hover {
    transition: box-shadow $ui-transition-speed ease-in-out;
    box-shadow: $color4 0 0 2px;
  }
}

[data-button='action'] {
  background-color: $color2;
}

/**
* Links
*/
a:not([data-link='no-style']) {
  transition: border-bottom $ui-transition-speed ease-in-out;
  border-bottom: 1px solid currentColor;
  text-decoration: none;
  color: inherit;

  &:hover {
    transition: border-bottom $ui-transition-speed ease-in-out;
    border-bottom: 1px solid $color2;
  }
}



/**
* Blockquotes
*/
blockquote {
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  letter-spacing: -1px;
  color: $grey-color;
  font-size: 18px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
* Clearfix
*/
%clearfix {
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}
