@import 'resets';

/**
* Basic styling
*/
body {
  color: $text-color;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
}


figcaption {
  font-size: $small-font-size;
}


/**
* Typography
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

h1 {
  line-height: 48px;
  font-size: 30px;
}

h2 {
  line-height: 36px;
  font-size: 25px;
}

h3 {
  line-height: 24px;
  font-size: 21px;
}

h4 {
  line-height: 30px;
  font-size: 17px;
}


strong {
  line-height: 24px;
  font-size: 15px;
  font-weight: 700;
}

p {
  line-height: 24px;
  font-size: 15px;
}

label,
button,
small {
  line-height: 22px;
  font-size: 13px;
}



/**
* Forms
*/
button {
  transition: box-shadow $ui-transition-speed ease-in-out;
  margin: 10px;
  border-color: transparent;
  box-shadow: $color4 0 0 0;
  background-color: $color2;
  padding: 5px 25px;
  overflow: visible;
  text-transform: uppercase;
  color: $color5;
  font-family: $base-font-family;

  &:hover {
    transition: box-shadow $ui-transition-speed ease-in-out;
    box-shadow: $color4 0 0 2px;
  }
}

[data-button='action'] {
  background-color: $color2;
}

input {
  margin-top: 10px;
  padding: 8px 5px;
}

label {
  margin: 10px;
}

/**
* Links
*/
a:not([data-link='no-style']) {
  transition: border-bottom $ui-transition-speed ease-in-out;
  border-bottom: 1px solid currentColor;
  text-decoration: none;
  color: inherit;

  &:hover {
    transition: border-bottom $ui-transition-speed ease-in-out;
    border-bottom: 1px solid $color2;
  }
}


/**
* Clearfix
*/
@mixin clearfix {
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}


// Navigation
.site-header {
  @include clearfix;
  display: block;
  position: relative;
  margin: auto;

  @media (min-width: $medium) {
    transition: background-color $ui-transition-speed;
    background-color: transparent;

    &:hover {
      transition: background-color $ui-transition-speed;
      background-color: $color3;

      .site-header--links {
        transition: opacity $ui-transition-speed;
        opacity: 1;
      }
    }
  }

  nav {
    @media (min-width: $medium) {
      @include clearfix;
      margin: auto;
      max-width: 900px;

      .site-header--links {
        transition: opacity $ui-transition-speed;
        opacity: 0;
      }
    }
  }

  a {
    text-decoration: none;
    color: $color5;
  }

  .site-header--logo {

    img {
      margin: 11px 20px 10px;
      height: 50px;
    }
  }
}

.site-header--links {
  z-index: 1;
  margin: 0;
  padding: 0;

  list-style: none;
  color: $color1;

  @media (max-width: #{$medium - 1}) {
    position: absolute;
    transform: translateX(-100%);
    transition: transform $ui-transition-speed ease-in-out;
    background-color: $color3;
    width: 100%;
  }

  @media (min-width: $medium) {
    float: right;
    padding: 10px 20px;
  }

  &[data-state='active'] {
    @media (max-width: #{$medium - 1}) {
      transform: translate(0);
      transition: transform $ui-transition-speed ease-in-out;
    }
  }

  li {
    padding: 14px 20px;
  }


  a {
    @media (max-width: #{$medium - 1}) {
      display: block;
      border-bottom: 1px solid $color1;

      &:last-of-type {
        border: 0;
      }
    }

    @media (min-width: $medium) {
      display: inline-block;

      &:hover {
        color: $color1;
      }
    }
  }
}

.site-header--menu {
  display: inline-block;
  position: relative;
  float: right;
  margin: 25px 30px 0;
  padding-top: 18px;
  width: 25px;
  height: 18px;

  @media (max-width: #{$medium - 1}) {
    cursor: pointer;
  }

  .menu--bar {
    display: block;
    position: absolute;
    left: 0;
    transform: rotate(0deg);
    transition: $ui-transition-speed ease-in-out;
    background-color: $color5;
    width: 100%;
    height: 4px;
  }

  // The bars
  .menu--bar:nth-child(1) {
    top: 0;
  }

  .menu--bar:nth-child(2),
  .menu--bar:nth-child(3) {
    top: 7px;
  }

  .menu--bar:nth-child(4) {
    top: 14px;
  }

  @media (max-width: #{$medium - 1}) {
    &[data-state='active'] {
      .menu--bar:nth-child(1) {
        top: 7px;
        left: 50%;
        width: 0%;
      }

      .menu--bar:nth-child(2) {
        transform: rotate(45deg);
      }

      .menu--bar:nth-child(3) {
        transform: rotate(-45deg);
      }

      .menu--bar:nth-child(4) {
        top: 7px;
        left: 50%;
        width: 0%;
      }
    }
  }
}


footer {
  margin-bottom: $spacing-unit;
  text-align: center;
}

.footer--social-links {
  a {
    border: 0;

    &:hover {
      border: 0;
      color: $color4;
    }
  }
}
