html,
body {
  height: 100%;
}

.site-content {
  @include clearfix;
  margin-bottom: -#{$footer-height};
  min-height: 100%;
}

.site-content,
.site-content::after {
  height: $footer-height;
}

section {
  overflow: auto;
}

[data-wrap='container'] {
  margin: 30px auto;
  padding: 0 20px;
  max-width: $content-width;
}
