html,
body {
  height: 100%;
}

.site-content {
  @include clearfix;
  margin-bottom: -#{$footer-height};
  min-height: 100%;
}

.site-content,
.site-content::after {
  height: $footer-height;
}

section {
  overflow: auto;
}

[data-wrap='container'] {
  margin: 30px auto;
  padding: 0 20px;
  width: $small - 20px;

  @media (min-width: $medium) {
    width: $medium - 20px;
  }

  @media (min-width: $large) {
    width: $large - 20px;
  }

  @media (min-width: $wide) {
    width: $wide - 20px;
  }

}
