.home-page {
  background-color: $color1;
}

@keyframes fadeSportsList {
  0% {opacity: 0;}
  25% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes fadeMottoIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeNameOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.home-page-hero {
  background-image: url('../images/hero-background.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @media (min-width: $medium) {
    height: 500px;
  }

  h1,
  h3 {
    box-shadow: $color4 0 0 2px;
    background-color: $color1;
    padding: $spacing-unit / 2;
  }

  h3 {
    @media (max-width: $large - 1) {
      margin-top: $spacing-unit * 2;
    }

    @media (min-width: $medium) {
      width: 520px;
    }
  }

  [data-wrap='container'] {
    padding: 0;
  }
}

.home-page-hero--heading {
  height: 75px;

  @media (min-width: $medium) {
    width: 285px;
  }

  span {
    position: absolute;
    opacity: 0;
    margin-left: 110px;

    &:nth-of-type(1) {
      animation: fadeNameOut 1.5s ease-in-out;
      animation-delay: 5.5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      opacity: 1;
      margin-left: 0;
    }

    &:nth-of-type(2) {
      animation: fadeSportsList 6s ease-in-out;
      animation-iteration-count: 1;
    }

    &:nth-of-type(3) {
      animation: fadeSportsList 6s ease-in-out;
      animation-delay: 2s;
      animation-iteration-count: 1;
    }

    &:nth-of-type(4) {
      animation: fadeSportsList 6s ease-in-out;
      animation-delay: 4s;
      animation-iteration-count: 1;
    }

    &:last-of-type {
      animation: fadeMottoIn 2s forwards;
      animation-delay: 6s;
      margin-left: 0;
    }
  }
}

.iphone-image-container {
  display: none;

  @media (min-width: $large) {
    display: block;
    position: fixed;
    top: 100px;
    right: 50%;
    margin-right: - ($large - 20px) / 2;
    padding: 0 20px;

    img {
      float: right;
      transition: opacity $iphone-transition-speed ease-in-out;
      opacity: 0;
      width: 300px;

      &[data-state='active'] {
        transition: opacity $iphone-transition-speed ease-in-out;
        opacity: 1;
      }
    }
  }
}

[class^='feature-']:not([class^='feature--']) {
  margin: $spacing-unit * 2 auto;

  @media (min-width: $large) {
    padding: 200px 20px;
  }
}

.feature--copy {
  @media (min-width: $large) {
    width: 510px;
  }
}

.feature--screen {
  @media (max-width: $medium - 1) {
    padding: $spacing-unit 0;
  }

  @media (min-width: $medium) {
    max-width: 300px;
  }

  @media (min-width: $large) {
    position: fixed;
    top: 176px;
    transition: opacity $iphone-transition-speed ease-in-out;
    opacity: 0;
    margin-left: 557px;
    width: 266px;

    &[data-feature-focus='true'] {
      transition: opacity $iphone-transition-speed ease-in-out;
      opacity: 1;
    }
  }
}

@media (min-width: $medium) and (max-width: $large - 1) {
  .feature-filter {
    .feature--copy {
      float: left;
      width: calc(60% - #{$spacing-unit});
      text-align: right;
    }

    .feature--screen {
      float: right;
      padding-top: 11px;
      width: calc(40% - #{$spacing-unit});
    }
  }

  .feature-create {
    .feature--copy {
      float: right;
      width: calc(60% - #{$spacing-unit});
    }

    .feature--screen {
      float: left;
      padding-top: 58px;
      width: calc(40% - #{$spacing-unit});
    }
  }

  .feature-comment {
    .feature--copy {
      float: left;
      padding-top: 22px;
      width: calc(60% - #{$spacing-unit});
      text-align: right;
    }

    .feature--screen {
      float: right;
      width: calc(40% - #{$spacing-unit});
    }
  }

  .feature-profile {
    .feature--copy {
      float: right;
      padding-top: 33px;
      width: calc(60% - #{$spacing-unit});
    }

    .feature--screen {
      float: left;
      width: calc(40% - #{$spacing-unit});
    }
  }

  .feature-friends {
    .feature--copy {
      float: left;
      padding-top: 40px;
      width: calc(60% - #{$spacing-unit});
      text-align: right;
    }

    .feature--screen {
      float: right;
      width: calc(40% - #{$spacing-unit});
    }
  }
}

.sports-highlights {

  @media (min-width: $medium) {
    text-align: center;
  }

  @media (min-width: $large) {
    margin-top: $spacing-unit * 8;
  }

  [class^='sports-highlight--'] {
    @media (min-width: $large) {
      float: left;
      margin: auto $spacing-unit / 2;
      width: calc((100% / 3) - #{$spacing-unit});
    }
  }

  [class^='highlight-icon--'] {
    margin: $spacing-unit auto;
    background-color: $color5;
    height: 200px;
    text-align: center;
    line-height: 200px;

    svg {
      vertical-align: middle;
    }

    .sports-svg {
      fill: $color1;
    }
  }
}

.contact-page {
  background-color: $color1;
}

.partners-page {
  background-color: $color4;
}


// For style representation
//scss-lint:disable all
.style-page {
  background-color: $color1;

  main {
    ul {
      margin-left: 0;
      list-style: none;

      li {
        border-bottom: 1px $color4 solid;
      }
    }
  }
}
