.home-page {
  background-color: $color1;

  [data-wrap='container'] {
    @media (min-width: $small) {
      padding-right: 300px;
    }

    @media (min-width: $medium) {
      padding-right: 500px;
    }
  }
}

@keyframes fadeSportsList {
  0% {opacity: 0;}
  25% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes fadeMottoIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.home-page-hero {
  h3 {
    margin-top: $spacing-unit * 2;
  }
}

.home-page-hero--heading {
  span {
    position: absolute;
    opacity: 0;
    margin-left: 8px; // for letter spacing

    &:nth-of-type(1) {
      animation: fadeSportsList 6s ease-in-out;
      animation-iteration-count: 1;
    }

    &:nth-of-type(2) {
      animation: fadeSportsList 6s ease-in-out;
      animation-delay: 2s;
      animation-iteration-count: 1;
    }

    &:nth-of-type(3) {
      animation: fadeSportsList 6s ease-in-out;
      animation-delay: 4s;
      animation-iteration-count: 1;
    }

    &:last-of-type {
      animation: fadeMottoIn 2s forwards;
      animation-delay: 6s;

      @media (max-width: $small - 1) {
        display: block;
        margin-left: 0;
      }
    }
  }
}

.iphone-image {
  display: none;

  @media (min-width: $small) {
    display: block;
    position: fixed;
    top: 150px;
    right: 70px;
    width: 200px;
  }

  @media (min-width: $medium) {
    right: 150px;
    width: 350px;
  }

  @media (min-width: 1500px) {
    right: 350px;
  }
}


.contact-page {
  background-color: $color1;
}

.partners-page {
  background-color: $color4;
}


// For style representation
.style-page {
  background-color: $color1;

  main {
    ul {
      margin-left: 0;
      list-style: none;

      li {
        border-bottom: 1px $color4 solid;
      }
    }
  }
}
