.home-page {
  background-color: $color1;
}

@keyframes fadeSportsList {
  0% {opacity: 0;}
  25% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes fadeMottoIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.home-page-hero {
  background-image: url('../images/hero-background.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @media (min-width: $medium) {
    height: 500px;
  }

  h1,
  h3 {
    box-shadow: $color4 0 0 2px;
    background-color: $color1;
    padding: $spacing-unit / 2;
  }

  h3 {
    margin-top: $spacing-unit * 2;
  }
}

.home-page-hero--heading {
  span {
    position: absolute;
    opacity: 0;
    margin-left: 8px; // for letter spacing

    &:nth-of-type(1) {
      animation: fadeSportsList 6s ease-in-out;
      animation-iteration-count: 1;
    }

    &:nth-of-type(2) {
      animation: fadeSportsList 6s ease-in-out;
      animation-delay: 2s;
      animation-iteration-count: 1;
    }

    &:nth-of-type(3) {
      animation: fadeSportsList 6s ease-in-out;
      animation-delay: 4s;
      animation-iteration-count: 1;
    }

    &:last-of-type {
      animation: fadeMottoIn 2s forwards;
      animation-delay: 6s;

      @media (max-width: $medium - 1) {
        display: block;
        margin-left: 0;
      }
    }
  }
}

.iphone-image-container {
  display: none;

  @media (min-width: $large) {
    display: block;
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: - ($large - 20px) / 2;
    padding: 0 20px;
    width: $large - 20px;

    img {
      float: right;
      width: 300px;
    }
  }
}

[class^='feature-']:not([class^='feature--']) {
  margin: $spacing-unit * 2 auto;
}

.feature--copy {
  @media (min-width: $large) {
    width: 510px;
  }
}

.feature--screen {
  @media (max-width: $medium - 1) {
    padding: $spacing-unit 0;
  }

  @media (min-width: $medium) {
    max-width: 300px;
  }

  @media (min-width: $large) {
    opacity: 0;
  }
}

@media (min-width: $medium) and (max-width: $large - 1) {
  .feature-filter {
    .feature--copy {
      float: left;
      width: calc(60% - #{$spacing-unit});
      text-align: right;
    }

    .feature--screen {
      float: right;
      padding-top: 11px;
      width: calc(40% - #{$spacing-unit});
    }
  }

  .feature-create {
    .feature--copy {
      float: right;
      width: calc(60% - #{$spacing-unit});
    }

    .feature--screen {
      float: left;
      padding-top: 58px;
      width: calc(40% - #{$spacing-unit});
    }
  }

  .feature-comment {
    .feature--copy {
      float: left;
      padding-top: 22px;
      width: calc(60% - #{$spacing-unit});
      text-align: right;
    }

    .feature--screen {
      float: right;
      width: calc(40% - #{$spacing-unit});
    }
  }

  .feature-profile {
    .feature--copy {
      float: right;
      padding-top: 33px;
      width: calc(60% - #{$spacing-unit});
    }

    .feature--screen {
      float: left;
      width: calc(40% - #{$spacing-unit});
    }
  }

  .feature-friends {
    .feature--copy {
      float: left;
      padding-top: 40px;
      width: calc(60% - #{$spacing-unit});
      text-align: right;
    }

    .feature--screen {
      float: right;
      width: calc(40% - #{$spacing-unit});
    }
  }
}

.contact-page {
  background-color: $color1;
}

.partners-page {
  background-color: $color4;
}


// For style representation
//scss-lint:disable all
.style-page {
  background-color: $color1;

  main {
    ul {
      margin-left: 0;
      list-style: none;

      li {
        border-bottom: 1px $color4 solid;
      }
    }
  }
}
