.subscribe-introduction-copy {

  margin-top: $spacing-unit * 2;

  h3 {
    @media (min-width: $medium) and (max-width: $large - 1) {
      text-align: center;

      span {
        display: block;
      }
    }
  }
}

.subscribe-form {
  @include clearfix;

  label,
  input {
    display: block;
  }

  input {
    width: 240px;

    @media (min-width: $large) {
      width: 190px;
    }
  }

  [class^='subscribe-form--'] {
    float: left;
  }

  .subscribe-form--submit {
    padding-top: 10px;

    @media (min-width: $medium) {
      padding-top: 30px;
    }

    button {
      // Overwrite the default so it matches the width of the text inputs
      padding: 5px 34px;
      width: 240px;

      @media (min-width: $large) {
        width: 180px;
      }
    }
  }
}
